*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: candara;
}

html.body {
    height: 100%;
    
}

#interface {
    width: 900px;
    background-color: white;
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px
}



h1 {
    text-align: center;
    color: rgb(219, 21, 31);
    margin-bottom: 50px;
   
}


.logo {
    width: 100px;
    height: 100px;
    margin-right: 150px;
    margin-left: 10px;
    margin-bottom: 100px;
    
}

nav {
    
    margin-top: -70px;
    display: flex;
    background-color: black;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;

   
}

nav a {
    display: flex;
    background-color: red;
    color: white;
    font-weight: bold;
    width: 19%;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

nav a:hover {
    background-color: darkorange;
    color: black;
}

.cabecalho {
    border-bottom: 2px black solid;
    height: 290px;
    box-shadow: 0px 0px 10px rgb(241, 36, 36);
}

h2 {
    color: rgb(219, 21, 31);
    text-indent: 10px;
}

.lista {
    text-indent: 50px;
}

.lista li {
   background-color: yellowgreen;
}


p {
    text-align: justify;
    text-indent: 50px;
  }

  img {
      width: 100%;
  }

  .destaque {
      text-align: center;
      color: red;
  }

  .rodape {
      border-top: 1px solid black;
      padding: 30px 0;
      box-shadow: 0px 0px 10px rgb(241, 36, 36);
      text-align: center;
      color: #069;
  }

  .retorno {
      background-color: darkgreen;
      color: white;
  }

  @media(max-width:570px){

      #interface {
        background-color: darkolivegreen;
       
      }
     
    body {
        border-color: darkgray;
    }
   
    .cabecalho {
        width: auto;
       
    }

    
    
    .rodape {
        color: white;
    }
    
  }

  
  